@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}
body{
    background:#070F2B;
}
.container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:80px auto 0 auto;
    background:rgba(255,255,255,0.1);
    width:500px;
    height:600px;
    border-radius: 20px;
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.6),5px 5px 10px rgba(0,0,0,0.6),5px 5px rgba(0,0,0,0.6);
}
.container #label{
    width:250px;
    height:250px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color:#F0ECE5;
    border-radius: 50%;
    border:5px solid white;
    font-weight: bold;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.7);
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0,0.6);
}
.container #btn{
    display:flex;
    margin-top:60px;
    width:400px;
    justify-content: space-between;
    padding:20px;
}
button{
    width:100px;
    height:70px;
    border-radius: 10px;
    border:none;
    font-size: 20px;
    color:#070F2B;
    font-weight: bold;
    background: #F0ECE5;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0,0.6);
}
